<div class="container">
  <div class="row">
    <h4>Welcome to Payment Wall</h4>
  </div>
  <div class="row">
    <div class="col-md-8 p-0">
      <div class="card">
        <div class="card-body">
          <form #form="ngForm" *ngIf="!showSuccess && !showPayment">
            <h5 class="card-title">Ram's E-Payment </h5>
            <div class="col-md-12 p-0">
              <div class="col-md-4 d-inline-block p-0">
                <label for="amount">Amount</label>
              </div>
              <div class="col-md-4 d-inline-block">
                <input type="tel" class="form-control" name="amount" [(ngModel)]="amount" placeholder="Amount to be paid" (blur)="transform($event)"
                  required />
              </div>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12 p-0">
              <div class="col-md-4 p-0 d-inline-block">Country</div>
              <div class="col-md-8 d-inline-block">
                <p-dropdown [options]="countries" name="country" [(ngModel)]="selectedCountry" placeholder="Select a Country" optionLabel="name"
                  filter="true" (onChange)="selectCountry($event)"></p-dropdown>
              </div>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12 p-0">
              <div class="col-md-4 p-0 d-inline-block">Payment method</div>
              <div class="col-md-8 d-inline-block" *ngIf="paymentSystems.length >0">
                <p-dropdown [options]="paymentSystems" name="payment" [(ngModel)]="selectedPayment" placeholder="Select payment method" optionLabel="name">
                  <ng-template let-item pTemplate="selectedItem">
                    <img src="{{item.value.img_url}}" style="width:16px;vertical-align:middle" />
                    <span style="vertical-align:middle">{{item.value.name}}</span>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height:25px;">
                      <img src="{{item.value.img_url}}" style="width:24px;position:absolute;top:1px;left:5px" />
                      <div style="font-size:14px;float:right;margin-top:4px">{{item.value.name}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-success float-right" [disabled]="!form.valid" type="button" (click)="onSubmit()">Submit</button>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12">&nbsp;</div>
            <ng-container *ngIf="!showSuccess && showPayment">
              <div class="col-md-12 p-0">
                <app-payment-method [amount]="newAmount" [payment]="selectedPayment" (paymentSuccess)="paymentStatus($event)"></app-payment-method>
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="showSuccess">
            <div class="col-md-12">
              <div class="col text-center">
                <img src="../assets/check-circle.gif" width="200" height="200">
              </div>
              <div class="col text-center">Transaction Successful.</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>